.paginationButtons {
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 1px 5px;
  text-align: center;
  margin: auto 6px;
  color: white;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  background-color: #c4c4c4;
  color: transparent;
}
.paginationButtons a:hover {
  background-color: #444;
}
.paginationActive a {
  background-color: #444;
}

.nextButton {
  display: none;
}
.prevButton {
  display: none;
}
