@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'mtavruli';
    src: url('/src/assets/fonts/bpg_nino_mtavruli_normal.ttf');
  }
  @font-face {
    font-family: 'arial_2009';
    src: url('/src/assets/fonts/bpg_arial_2009.ttf');
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'mtavruli', 'arial_2009',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
